body{
    font-family: sans-serif;
    text-align: center;
}

#counter{
    font-size: 10em;
    padding-top: 30%;
}

button{
    text-align: center;
    padding: 20px;
    font-size: x-large;
    border-radius: 5px;
    background-color: rgb(133, 133, 230);
    color: white;
    transition: background-color 0.25s;
    cursor: pointer;
}

button:hover{
    background-color: blue;
}